<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/start.css">
</head>

<body>

    <div class="container">
        <div class="text">
            <div class="name">
                <h1>Питання</h1>
            </div>
            <div class="buttons">
                <div class="buttons-row">
                    <button class="button" onclick="window.location.href='/'">1</button>
                    <button class="button" onclick="window.location.href='/'">2</button>
                </div>
                <div class="buttons-row">
                    <button class="button" onclick="window.location.href='/'">3</button>
                    <button class="button" onclick="window.location.href='/'">4</button>
                </div>
            </div>
        </div>
</body>

</html>