<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/start.css">
</head>

<body>

    <div class="container">
        <div class="text">
            <div class="name">
                <h1>Питання</h1>
            </div>
            <form action='/question_one' method='post' class="buttons">
                <div class="buttons-row">
                    <button class="button" type='submit' name='button' value="incorrect">1</button>
                    <button class="button" type='submit' name='button' value="incorrect">2</button>
                </div>
                <div class="buttons-row">
                    <button class="button" type='submit' name='button' value="correct">3</button>
                    <button class="button" type='submit' name='button' value="incorrect">4</button>
                </div>
            </form>
        </div>
</body>

</html>