<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/question.css">
</head>

<body>

    <div class="container">
        <div class="text">
            <div class="name">
                <h1>{{ name }}</h1>
            </div>
            <form id="myForm" method='post' class="buttons">
                <div class="buttons-row">
                    <button class="button" type='submit' name='button' value='{{one}}'> {{ one }}</button>
                    <button class="button" type='submit' name='button' value='{{two}}'>{{ two }}</button>
                </div>
                <div class="buttons-row">
                    <button class="button" type='submit' name='button' value='{{three}}'>{{ three }}</button>
                    <button class="button" type='submit' name='button' value='{{four}}'>{{ four }}</button>
                </div>
            </form>
        </div>
</body>

<script>
    function changeAction(site) {
        var form = document.getElementById("myForm");
        switch (site) {
            case '/question_one':
                form.action = '/question_one';
                break;
            case '/question_two':
                form.action = '/question_two';
                break;
            case '/question_three':
                form.action = '/question_three';
                break;
            case '/question_four':
                form.action = '/question_four';
                break;
            case '/question_five':
                form.action = '/question_five';
                break;
            case '/question_six':
                form.action = '/question_six';
                break;
            case '/question_seven':
                form.action = '/question_seven';
                break;
            case '/question_eight':
                form.action = '/question_eight';
                break;
            case '/question_nine':
                form.action = '/question_nine';
                break;
            case '/question_ten':
                form.action = '/question_ten';
                break;
            case '/question_eleven':
                form.action = '/question_eleven';
                break;
            case '/question_four':
                form.action = '/question_twelve';
                break;
            default:
                form.action = '';
                break;
        }
    }
</script>

</html>