<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/start.css') }}">
</head>

<body>

    <div class="container">
        <div class="text">
            <div class="name">
                <h1>Name</h1>
            </div>
            <p>Text
            </p>
        </div>
        <div class="buttons">
            <button class="button" onclick="window.location.href='/sign_up'">Sign Up</button>
            <button class="button" onclick="window.location.href='/log_in'">Log In</button>
        </div>
    </div>
</body>

</html>