<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="text">
            <div class="name">
                <h1>Name</h1>
            </div>
            <p>Text
            </p>
        </div>
        {% if get_flashed_messages() %}
        <div class="flash">
            {% for msg in get_flashed_messages() %}
            <div>{{msg}}</div>
            {% endfor %}
        </div>
        {% endif %}
        <form action='/' method='post' class="buttons">
            <input type="text" class="input-field" name='name' id='name' placeholder="name">
            <button class="button" onclick="window.location.href='/'">Take Quiz</button>
        </form>
    </div>
</body>

</html>