.container {
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    display: flex;
}

h1 {
    color: #333;
}

p {
    color: #000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}

a {
    color: #569DAA;
    text-decoration: none;
}

.logo {
    position: relative;
}

.name {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Styles for screens smaller than 768px (phones) */
@media (max-width: 768px) {
    .container {
        /* Adjust container styles for smaller screens */
        padding: 20px;
        font-size: 12px;
        /* Add some padding */
        width: 95%;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .text {
        text-align: center;
        /* Center the text on phones */
    }

    .button {
        height: 50px;
        font-size: 18px;
        /* Adjust button font size */
        width: 150px;
        /* Make button full width */
    }
}